<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Details</title>
</head>
<body>
   <ul>
    <li> <%= employee.emp_name %> </li>
    <li> <%= employee.emp_age %> </li>
    <li> <%= employee.emp_salary %> </li>
    <li> <%= dep.name %> </li>
    <li> <%= rep.emp_name %></li>
    <li> <img src="/<%= employee.profile %>" alt="" style="width: 20px; height: 20px;"></li>
   </ul>
   
   <a href="/">Go to Homepage</a>
</body>
</html>